.page {
  height: 50vh;
  background-image: url("../assets/page.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 1rem;
}

li {
  list-style: none;
}

.contentPage {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  height: inherit;
  margin-left: 1rem;
}

.button-page {
  padding: 0;
  scale: 0.5;
  border-radius: 1rem;
  background-color: beige;
}

.button-carnet {
  padding: 0;
  scale: 0.5;
  border-radius: 1rem;
  background-image: url("../img/carnet.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  background-color: transparent;
  scale: 1.5;
  box-shadow: 1rem 0 3rem;
}

.inside-travelogue {
  background: linear-gradient(transparent, #693c08);
  max-width: 50%;
  position: absolute;
  top: 40%;
  left: 35%;
  border-radius: 2rem;
}

.pack-travelogue {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10rem;
}

.travelogue h1 {
  background-color: lightblue;
  opacity: 50%;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
